<nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-lg">
    <a class="navbar-brand" href="#">Disliker</a>
    <div class="collapse navbar-collapse">
        <span class="navbar-text">
            <img src="sdf" class="avatar">
            <span class="tokens">Tokens: 50</span>
            <i class="fa fa-sign-out-alt"></i>
        </span>
    </div>
</nav>