{{#>layout}}
    <div class="container">
        {{>navbar}}
        <div class="jumbotron">
            <p>Надоело ставить дизлайки под видео Шеки, Гнома или другого маргинального блоггера? Тогда этот сервис для вас!</p>
            <hr/>
            <h3>Оценить видео:</h3>
            {{>dislikeform}}
            <hr/>
            <h3>Ваши задачи:</h3>
            <hr/>
            <h3>Пожертвовать аккаунт:</h3>
            <p>Обратите внимание, что аккаунт не должен быть привязан к телефону! После проверки аккаунта пароль
            будет изменен, и вы больше не сможете пользоватся им лично!</p>
            <p>За каждый аккаунт вы получите 100 токенов.
            1 токен = 1 лайк/дизлайк</p>
            {{>donateaccount}}
        </div>

    </div>
{{/layout}}